In [15]:
import pandas as pd
import numpy as np

In [3]:
flight_df = pd.read_csv('Renew_flight_delay .csv', sep="\t")
flight_df.head()

,year,month,dep_del_min,arr_del_min,flight_id,date_id,day_of_month,day_of_week,op_unique_carrier,op_carrier_airline_id,...,dest_airport_seq_id,dest,dep_time,dep_del15,dep_time_blk,arr_time,arr_del15,cancelled,diverted,distance
0,2019,Feburary,0,0,1,1,1,5,AA,19805,...,1247805,JFK,933,0,0900-0959,1148,0,0,0,944
1,2019,Feburary,0,0,2,2,1,5,AA,19805,...,1052906,BDL,2021,0,2000-2059,47,0,0,0,1471
2,2019,Feburary,0,15,3,3,1,5,AA,19805,...,1393007,ORD,754,0,0800-0859,921,1,0,0,413
3,2019,Feburary,0,15,4,4,1,5,AA,19805,...,1393007,ORD,505,0,0001-0559,725,1,0,0,867
4,2019,Feburary,15,15,5,5,1,5,AA,19805,...,1477104,SFO,1938,1,1800-1859,2130,1,0,0,1464

In [4]:
flight_df.columns

Index(['year', 'month', 'dep_del_min', 'arr_del_min', 'flight_id', 'date_id',
       'day_of_month', 'day_of_week', 'op_unique_carrier',
       'op_carrier_airline_id', 'op_carrier', 'tail_num', 'op_carrier_fl_num',
       'origin_airport_id', 'origin_airport_seq_id', 'origin',
       'dest_airport_id', 'dest_airport_seq_id', 'dest', 'dep_time',
       'dep_del15', 'dep_time_blk', 'arr_time', 'arr_del15', 'cancelled',
       'diverted', 'distance'],
      dtype='object')

In [23]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249621 entries, 0 to 2249620
Data columns (total 27 columns):
year                     int64
month                    object
dep_del_min              int64
arr_del_min              int64
flight_id                int64
date_id                  int64
day_of_month             int64
day_of_week              int64
op_unique_carrier        object
op_carrier_airline_id    int64
op_carrier               object
tail_num                 object
op_carrier_fl_num        int64
origin_airport_id        int64
origin_airport_seq_id    int64
origin                   object
dest_airport_id          int64
dest_airport_seq_id      int64
dest                     object
dep_time                 int64
dep_del15                int64
dep_time_blk             object
arr_time                 int64
arr_del15                int64
cancelled                int64
diverted                 int64
distance                 int64
dtypes: int64(20), object(7)
memory usage: 463.4+ MB

In [5]:
flight_df['month'].unique()

array(['Feburary', 'Janurary'], dtype=object)

In [6]:
flight_df['op_unique_carrier'].unique()

array(['AA', 'NK', 'MQ', 'G4', 'YX', 'EV', 'F9', 'HA', 'WN', '9E', 'OH',
       'YV', 'AS', 'UA', 'B6', 'DL', 'OO'], dtype=object)

In [22]:
flight_df[['origin_airport_id', 'origin_airport_seq_id']].head()

   origin_airport_id  origin_airport_seq_id
0              13204                1320402
1              11298                1129806
2              14122                1412202
3              10721                1072102
4              11298                1129806

In [11]:
flight_df['dep_time_blk'].unique()

array(['0900-0959', '2000-2059', '0800-0859', '0001-0559', '1800-1859',
       '0600-0659', '1100-1159', '1600-1659', '1000-1059', '1300-1359',
       '1400-1459', '1700-1759', '1900-1959', '2100-2159', '1200-1259',
       '0700-0759', '1500-1559', '2200-2259', '2300-2359'], dtype=object)

In [13]:
#Replacing January and Feburary with integers 1 and 2
flight_df.replace(to_replace=['Feburary', 'Janurary'], value= [1,2], inplace=True)
flight_df.head()

,year,month,dep_del_min,arr_del_min,flight_id,date_id,day_of_month,day_of_week,op_unique_carrier,op_carrier_airline_id,...,dest_airport_seq_id,dest,dep_time,dep_del15,dep_time_blk,arr_time,arr_del15,cancelled,diverted,distance
0,2019,1,0,0,1,1,1,5,AA,19805,...,1247805,JFK,933,0,0900-0959,1148,0,0,0,944
1,2019,1,0,0,2,2,1,5,AA,19805,...,1052906,BDL,2021,0,2000-2059,47,0,0,0,1471
2,2019,1,0,15,3,3,1,5,AA,19805,...,1393007,ORD,754,0,0800-0859,921,1,0,0,413
3,2019,1,0,15,4,4,1,5,AA,19805,...,1393007,ORD,505,0,0001-0559,725,1,0,0,867
4,2019,1,15,15,5,5,1,5,AA,19805,...,1477104,SFO,1938,1,1800-1859,2130,1,0,0,1464

In [17]:
#Replacing carriers with integers
flight_df.replace(to_replace=['AA', 'NK', 'MQ', 'G4', 'YX', 'EV', 'F9', 'HA', 'WN', '9E', 'OH',
       'YV', 'AS', 'UA', 'B6', 'DL', 'OO'], value= np.arange(1,18), inplace=True)
flight_df.head()

,year,month,dep_del_min,arr_del_min,flight_id,date_id,day_of_month,day_of_week,op_unique_carrier,op_carrier_airline_id,...,dest_airport_seq_id,dest,dep_time,dep_del15,dep_time_blk,arr_time,arr_del15,cancelled,diverted,distance
0,2019,1,0,0,1,1,1,5,1,19805,...,1247805,JFK,933,0,0900-0959,1148,0,0,0,944
1,2019,1,0,0,2,2,1,5,1,19805,...,1052906,BDL,2021,0,2000-2059,47,0,0,0,1471
2,2019,1,0,15,3,3,1,5,1,19805,...,1393007,ORD,754,0,0800-0859,921,1,0,0,413
3,2019,1,0,15,4,4,1,5,1,19805,...,1393007,ORD,505,0,0001-0559,725,1,0,0,867
4,2019,1,15,15,5,5,1,5,1,19805,...,1477104,SFO,1938,1,1800-1859,2130,1,0,0,1464

In [23]:
revised_df = flight_df[['year', 'month', 'dep_del_min', 'arr_del_min', 'flight_id', 
                        'date_id','day_of_month', 'day_of_week', 'op_unique_carrier',
                        'op_carrier_airline_id', 'op_carrier', 'op_carrier_fl_num',
                        'origin_airport_id', 'dest_airport_id', 'dep_time',
                        'dep_del15', 'arr_time', 'arr_del15', 'cancelled',
                        'diverted', 'distance']]
revised_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2249621 entries, 0 to 2249620
Data columns (total 21 columns):
year                     int64
month                    int64
dep_del_min              int64
arr_del_min              int64
flight_id                int64
date_id                  int64
day_of_month             int64
day_of_week              int64
op_unique_carrier        int64
op_carrier_airline_id    int64
op_carrier               int64
op_carrier_fl_num        int64
origin_airport_id        int64
dest_airport_id          int64
dep_time                 int64
dep_del15                int64
arr_time                 int64
arr_del15                int64
cancelled                int64
diverted                 int64
distance                 int64
dtypes: int64(21)
memory usage: 360.4 MB

## Feature Selection - LG

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, LogisticRegression
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler

# select features that influence departure delay
X = revised_df[['year', 'month', 'day_of_month', 'day_of_week', 'op_unique_carrier',
                'op_carrier_airline_id', 'op_carrier', 'op_carrier_fl_num',
                'origin_airport_id', 'dest_airport_id', 'dep_time',
                'arr_time', 'cancelled','diverted', 'distance']]
y = revised_df['dep_del15']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [54]:
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [55]:
sel_ = SelectFromModel(LogisticRegression(C=1))
sel_.fit(scaler.transform(X_train), y_train)
sel_.get_support()

array([ True,  True, False, False, False, False, False, False, False,
       False,  True,  True, False, False, False])

In [56]:
selected_feat = X_train.columns[(sel_.get_support())]
print('total features: {}'.format((X_train.shape[1])))
print('selected features: {}'.format(len(selected_feat)))
print('features with coefficients shrank to zero: {}'.format(
      np.sum(sel_.estimator_.coef_ == 0)))

total features: 15
selected features: 4
features with coefficients shrank to zero: 2

In [57]:
selected_feat

Index(['year', 'month', 'dep_time', 'arr_time'], dtype='object')

In [58]:
# select features that influence arrival delay
y = revised_df['arr_del15']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [59]:
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [60]:
sel_ = SelectFromModel(LogisticRegression(C=1))
sel_.fit(scaler.transform(X_train), y_train)
sel_.get_support()

array([ True,  True, False, False, False,  True, False, False, False,
       False,  True,  True, False, False, False])

In [61]:
selected_feat = X_train.columns[(sel_.get_support())]
print('total features: {}'.format((X_train.shape[1])))
print('selected features: {}'.format(len(selected_feat)))
print('features with coefficients shrank to zero: {}'.format(
      np.sum(sel_.estimator_.coef_ == 0)))

total features: 15
selected features: 5
features with coefficients shrank to zero: 2

In [62]:
selected_feat

Index(['year', 'month', 'op_carrier_airline_id', 'dep_time', 'arr_time'], dtype='object')

## Coefficients

In [52]:
lg = LogisticRegression(C=1)
lg.fit(X, y)

coefficients = pd.concat([pd.DataFrame(X.columns),pd.DataFrame(np.transpose(lg.coef_))], axis = 1)
print(coefficients)

                        0             0
0                    year -7.484041e-05
1                   month  3.185371e-07
2               flight_id -2.968825e-07
3            day_of_month  2.980642e-06
4             day_of_week -1.388386e-07
5       op_unique_carrier -2.383599e-06
6   op_carrier_airline_id -9.955368e-05
7              op_carrier -2.383599e-06
8       op_carrier_fl_num  4.473716e-05
9       origin_airport_id -5.320273e-06
10        dest_airport_id -4.205214e-06
11               dep_time  7.439189e-04
12               arr_time -1.352685e-04
13              cancelled  0.000000e+00
14               diverted  0.000000e+00
15               distance  9.537635e-05

/Users/fanyaweng/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
# Replacing day of week with String

#flight_df.replace(to_replace=[1,2,3,4,5,6,7], 
#                  value= ['Monday','Tuesday','Wedsday','Thursday','Friday','Saturday','Sunday'], 
#                  inplace=True)

#flight_df.to_csv('flight_delay_cleaned.csv')

## Connect to Postgres

In [20]:
# Import necessary packages
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:2067089099@localhost/flight_db'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()